<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= oi.sock_size.sock.name %></h4>
      <div class="product-thumb">
        <%= image_tag(oi.sock_size.sock.sock_images.first.picture(:thumb), class: "thumb-image") %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-4">
          <h5>Quantity: <%= oi.quantity %></h5>
          <h5>Size: <%= oi.sock_size.size.size %></h5>
        </div>
        <div class="col-xs-8">
          <h5 class="text-right">Unit Price: <span style="color: gray"><%= number_to_currency oi.price %></span></h5>
          <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency oi.total_price %></span></h4>
        </div>
      </div>
    </div>

  </div>
</div>
