<!DOCTYPE html>
<html>
  <head>
    <title>Sockorama</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>

      

      <!-- Page Content -->
      <div class="container">
        <div class="row">

          <%= yield %>

        </div>
      </div>
      <!-- /.container -->

      <div class="container">

          <hr>

          <!-- Footer -->
          <footer>
              <div class="row">
                  <div class="col-lg-12">
                      <p>Copyright &copy; Sock-o-Rama 2016</p>
                  </div>
              </div>
          </footer>

      </div>

  </body>
</html>
